@font-face {
    font-family: 'SFM';
    src: url('../fonts/SFM-Light.eot');
    src: local('SFM Light'), local('SFM-Light'),
        url('../fonts/SFM-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFM-Light.woff2') format('woff2'),
        url('../fonts/SFM-Light.woff') format('woff'),
        url('../fonts/SFM-Light.ttf') format('truetype'),
        url('../fonts/SFM-Light.svg#SFM-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFM';
    src: url('../fonts/SFM-Regular.eot');
    src: local('SFM Regular'), local('SFM-Regular'),
        url('../fonts/SFM-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFM-Regular.woff2') format('woff2'),
        url('../fonts/SFM-Regular.woff') format('woff'),
        url('../fonts/SFM-Regular.ttf') format('truetype'),
        url('../fonts/SFM-Regular.svg#SFM-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFM';
    src: url('../fonts/SFM-Medium.eot');
    src: local('SFM Medium'), local('SFM-Medium'),
        url('../fonts/SFM-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFM-Medium.woff2') format('woff2'),
        url('../fonts/SFM-Medium.woff') format('woff'),
        url('../fonts/SFM-Medium.ttf') format('truetype'),
        url('../fonts/SFM-Medium.svg#SFM-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFM';
    src: url('../fonts/SFM-Semibold.eot');
    src: local('SFM Semibold'), local('SFM-Semibold'),
        url('../fonts/SFM-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFM-Semibold.woff2') format('woff2'),
        url('../fonts/SFM-Semibold.woff') format('woff'),
        url('../fonts/SFM-Semibold.ttf') format('truetype'),
        url('../fonts/SFM-Semibold.svg#SFM-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFM';
    src: url('../fonts/SFM-Heavy.eot');
    src: local('SFM Heavy'), local('SFM-Heavy'),
        url('../fonts/SFM-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFM-Heavy.woff2') format('woff2'),
        url('../fonts/SFM-Heavy.woff') format('woff'),
        url('../fonts/SFM-Heavy.ttf') format('truetype'),
        url('../fonts/SFM-Heavy.svg#SFM-Heavy') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SFM';
    src: url('../fonts/SFM-Bold.eot');
    src: local('SFM Bold'), local('SFM-Bold'),
        url('../fonts/SFM-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFM-Bold.woff2') format('woff2'),
        url('../fonts/SFM-Bold.woff') format('woff'),
        url('../fonts/SFM-Bold.ttf') format('truetype'),
        url('../fonts/SFM-Bold.svg#SFM-Bold') format('svg');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'T';
    src: url('../fonts/T-Thin.eot');
    src: url('../fonts/T-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-Thin.woff2') format('woff2'),
        url('../fonts/T-Thin.woff') format('woff'),
        url('../fonts/T-Thin.ttf') format('truetype'),
        url('../fonts/T-Thin.svg#T-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-ThinItalic.eot');
    src: url('../fonts/T-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-ThinItalic.woff2') format('woff2'),
        url('../fonts/T-ThinItalic.woff') format('woff'),
        url('../fonts/T-ThinItalic.ttf') format('truetype'),
        url('../fonts/T-ThinItalic.svg#T-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-Light.eot');
    src: url('../fonts/T-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-Light.woff2') format('woff2'),
        url('../fonts/T-Light.woff') format('woff'),
        url('../fonts/T-Light.ttf') format('truetype'),
        url('../fonts/T-Light.svg#T-Light') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-LightItalic.eot');
    src: url('../fonts/T-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-LightItalic.woff2') format('woff2'),
        url('../fonts/T-LightItalic.woff') format('woff'),
        url('../fonts/T-LightItalic.ttf') format('truetype'),
        url('../fonts/T-LightItalic.svg#T-LightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-Book.eot');
    src: url('../fonts/T-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-Book.woff2') format('woff2'),
        url('../fonts/T-Book.woff') format('woff'),
        url('../fonts/T-Book.ttf') format('truetype'),
        url('../fonts/T-Book.svg#T-Book') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'T Book';
    src: url('../fonts/T-BookItalic.eot');
    src: url('../fonts/T-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-BookItalic.woff2') format('woff2'),
        url('../fonts/T-BookItalic.woff') format('woff'),
        url('../fonts/T-BookItalic.ttf') format('truetype'),
        url('../fonts/T-BookItalic.svg#T-BookItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-Regular.eot');
    src: url('../fonts/T-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-Regular.woff2') format('woff2'),
        url('../fonts/T-Regular.woff') format('woff'),
        url('../fonts/T-Regular.ttf') format('truetype'),
        url('../fonts/T-Regular.svg#T-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-Italic.eot');
    src: url('../fonts/T-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-Italic.woff2') format('woff2'),
        url('../fonts/T-Italic.woff') format('woff'),
        url('../fonts/T-Italic.ttf') format('truetype'),
        url('../fonts/T-Italic.svg#T-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-Medium.eot');
    src: url('../fonts/T-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-Medium.woff2') format('woff2'),
        url('../fonts/T-Medium.woff') format('woff'),
        url('../fonts/T-Medium.ttf') format('truetype'),
        url('../fonts/T-Medium.svg#T-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-MediumItalic.eot');
    src: url('../fonts/T-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-MediumItalic.woff2') format('woff2'),
        url('../fonts/T-MediumItalic.woff') format('woff'),
        url('../fonts/T-MediumItalic.ttf') format('truetype'),
        url('../fonts/T-MediumItalic.svg#T-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-Bold.eot');
    src: url('../fonts/T-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-Bold.woff2') format('woff2'),
        url('../fonts/T-Bold.woff') format('woff'),
        url('../fonts/T-Bold.ttf') format('truetype'),
        url('../fonts/T-Bold.svg#T-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-BoldItalic.eot');
    src: url('../fonts/T-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-BoldItalic.woff2') format('woff2'),
        url('../fonts/T-BoldItalic.woff') format('woff'),
        url('../fonts/T-BoldItalic.ttf') format('truetype'),
        url('../fonts/T-BoldItalic.svg#T-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-Heavy.eot');
    src: url('../fonts/T-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-Heavy.woff2') format('woff2'),
        url('../fonts/T-Heavy.woff') format('woff'),
        url('../fonts/T-Heavy.ttf') format('truetype'),
        url('../fonts/T-Heavy.svg#T-Heavy') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-HeavyItalic.eot');
    src: url('../fonts/T-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-HeavyItalic.woff2') format('woff2'),
        url('../fonts/T-HeavyItalic.woff') format('woff'),
        url('../fonts/T-HeavyItalic.ttf') format('truetype'),
        url('../fonts/T-HeavyItalic.svg#T-HeavyItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-Black.eot');
    src: url('../fonts/T-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-Black.woff2') format('woff2'),
        url('../fonts/T-Black.woff') format('woff'),
        url('../fonts/T-Black.ttf') format('truetype'),
        url('../fonts/T-Black.svg#T-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'T';
    src: url('../fonts/T-BlackItalic.eot');
    src: url('../fonts/T-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/T-BlackItalic.woff2') format('woff2'),
        url('../fonts/T-BlackItalic.woff') format('woff'),
        url('../fonts/T-BlackItalic.ttf') format('truetype'),
        url('../fonts/T-BlackItalic.svg#T-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}
